body
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    color: blue;
}

h3
{
    color: red;
}

a
{
    color: black;
}

/*body
{
    background-image: url("photo fond piscine.jpg");
    background-position: top right;
    background-attachment: initial; */
}

.navbar{
    position: absolute;
    padding: 50px;
display: flex;
justify-content: space-between;
width: 100%;
box-sizing: border-box;
    
}

 h1 /*encadrement et ombre sur texte*/
{
    /* border: 5px blue solid;
    border-radius: 20px;
    box-shadow: 7px 6px 7px red;
    text-shadow: 6px 6px 6px red; */
    
}

a:hover /*changement de couleur des liens au survol de la souris */
{
    color: rgb(0, 67, 252);
}

a:visited
{
    color: red;
}

p, ul
{
    color: black;
}

h4 
{
    color: red;
}

.navbar[

]