.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 76px;
}

.u-section-1 .u-shape-1 {
  width: 23px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 104px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 112px;
  height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -566px auto 0 104px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 750px;
  margin: -339px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 48px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 67px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 33px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 23px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 487px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 523px;
  height: 523px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  margin: -65px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 485px;
    height: 274px;
    margin-left: 15px;
  }

  .u-section-1 .u-shape-1 {
    height: 282px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 124px;
    margin-left: 64px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 794px;
    margin-right: 43px;
  }

  .u-section-1 .u-image-2 {
    width: 455px;
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-image-1 {
    width: 561px;
    height: 309px;
  }

  .u-section-1 .u-shape-1 {
    width: 182px;
    height: 561px;
    margin-right: 71px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 71px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 491px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 442px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 471px;
    margin-top: -59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 298px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 227px;
    height: 670px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 433px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-1 .u-image-2 {
    height: 495px;
    margin-top: -54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 279px;
    margin-top: 189px;
  }

  .u-section-1 .u-shape-2 {
    width: 133px;
    height: 246px;
    margin-top: -677px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 278px;
    margin-top: -232px;
    margin-bottom: 38px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 27px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 33px;
    margin-left: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-1 .u-image-2 {
    height: 295px;
    margin-top: -31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 795px;
}

.u-section-2 .u-image-1 {
  width: 585px;
  height: 284px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 37px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -319px auto 0 84px;
}

.u-section-2 .u-shape-2 {
  width: 122px;
  height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -572px 98px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 855px;
  margin: -334px auto -186px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 487px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 523px;
  height: 523px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -65px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 488px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 1px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 41px 0 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-image-1 {
    height: 273px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 233px;
    margin-top: -306px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 818px;
    margin-bottom: -197px;
  }

  .u-section-2 .u-image-2 {
    width: 425px;
    height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-shape-1 {
    width: 198px;
    margin-top: -327px;
    margin-left: 76px;
  }

  .u-section-2 .u-shape-2 {
    width: 115px;
    margin-top: -852px;
    margin-right: 83px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -339px;
    margin-bottom: -481px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 208px;
    height: 323px;
    margin-top: -368px;
    margin-left: 16px;
  }

  .u-section-2 .u-shape-2 {
    width: 99px;
    margin-top: -880px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 434px;
    margin-bottom: -531px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-2 .u-image-2 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-shape-1 {
    width: 191px;
    height: 181px;
    margin-top: -213px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -710px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 274px;
    margin-bottom: -364px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-2 .u-image-2 {
    height: 155px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 266px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 146px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 146px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 146px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
  padding: 15px 30px 16px 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 111px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -58px;
    margin-bottom: -58px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 56px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 35px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 795px;
}

.u-section-4 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 76px;
}

.u-section-4 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -285px 114px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 521px;
  height: 376px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px auto 0 104px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 855px;
  margin: -527px auto 74px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 487px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 80px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 28px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 489px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-4 .u-image-2 {
  height: 516px;
  object-position: 0% 28.41%;
  background-position: 45.01% 28.41%;
  margin-top: 0;
  margin-bottom: -57px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 614px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 625px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-4 .u-shape-1 {
    width: 242px;
    height: 242px;
    margin-top: -242px;
    margin-right: 71px;
  }

  .u-section-4 .u-shape-2 {
    width: 337px;
    height: 752px;
    margin-top: 0;
    margin-left: 79px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -947px;
    margin-bottom: 192px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-4 .u-image-2 {
    height: 529px;
    margin-bottom: -73px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 267px;
  }

  .u-section-4 .u-shape-1 {
    height: 42px;
    margin-top: -206px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -172px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 434px;
    margin-top: -974px;
    margin-bottom: 167px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-4 .u-image-2 {
    height: 564px;
    margin-bottom: -56px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 168px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -107px;
  }

  .u-section-4 .u-shape-2 {
    width: 211px;
    height: 544px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 282px;
    margin-top: -766px;
    margin-bottom: 118px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-4 .u-image-2 {
    height: 352px;
    margin-bottom: -34px;
  }
}

.u-section-4 .u-layout-cell-1,
.u-section-4 .u-layout-cell-1:before,
.u-section-4 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 528px;
}

.u-section-5 .u-text-1 {
  width: 795px;
  margin: 89px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 266px;
  grid-gap: 26px 26px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-3,
.u-section-5 .u-list-item-3:before,
.u-section-5 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 514px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 332px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  font-style: normal;
  margin: 29px 0 0;
}

.u-section-6 .u-list-1 {
  width: 556px;
  margin: -250px auto 60px 7px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 250px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-6 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-6 .u-text-5 {
  margin: 13px 0 0 60px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-6 .u-icon-2 {
  width: 33px;
  height: 33px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px 0 0 60px;
}

.u-section-6 .u-text-7 {
  margin: 13px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 274px;
    
  }

  
  

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 70px;
    margin-top: 2px;
  }

 

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 60px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 44px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 44px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 44px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 675px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 168px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -783px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 281px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 12px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -15px;
    margin-right: -55px;
    margin-left: 55px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 12px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -15px;
    margin-right: -55px;
    margin-left: 55px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 12px;
    margin-right: -18px;
    margin-left: 18px;
  }
}
.a-propos-de-2 {
  margin-top: 20px
  ;
}